<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.genix.wordmemoriser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Menu.MainMenu"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu.Manage.ManageSets"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Manage.AddSet.AddSetPopUp"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Manage.EditSet.EditSet"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Manage.EditSet.Words.EditWords"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Manage.EditSet.Words.AddWords"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Play.Play"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Play.Game.Game"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Settings.Settings"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Manage.EditSet.EditSetName"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu.Manage.EditSet.DeleteSet"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>